/*-------------------
 *     Buttons
 *-------------------*/

.prev, .next{
    position: absolute;
    bottom: 10px;
    padding-left: 20px;
}

.prev{
    right: 90px;
}

.next{
    right: 20px;
}

.btn {
    color: #fff !important;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: #6c63ff;
    padding: 8px 14px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.active{
    cursor: pointer;
}

.active:hover {
    background: #434343;
    letter-spacing: 1px;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.27);
    transition: all 0.4s ease 0s;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
